/*
!.config/
!.sogouinput/
!.local/
!Public/
!.bashrc
!.gitconfig
!.gitignore
!.profile
!.vimrc
!.xinputrc
!README.md
!config.sh
!.bash/
!.vim/
.vim/plugged
.vim/.netrwhist
.config/Code/
.config/pulse/
.config/netease-cloud-music/
.config/fcitx/dbus/
.config/nautilus/
.config/SogouPY/
.config/sogou-qimpanel/
.local/share/zeitgeist/
.local/share/gvfs-metadata/
.local/share/Trash/
.local/share/evolution/
.sogouinput/
.local/share/keyrings/
.local/share/applications/
.local/share/icons/
.config/electronic-wechat/
.config/fcitx/profile_*
.local/share/xorg/Xorg.0.log.old
.config/google-chrome/
.local/bin/
.local/etc/
.local/lib/
.config/ibus/
.local/share/recently-used.xbel
.local/share/NuGet/
.local/share/osu/
.local/share/vulkan/
.local/share/vulkan/
.local/share/app-info/xmls/extensions-web.xml
.config/Trolltech.conf
.local/share/icc/
.local/share/session_migration-ubuntu-wayland
.local/share/xorg/Xorg.0.log
.local/share/app-info/xmls/extensions-web.xml
.local/share/vulkan/implicit_layer.d/steamfossilize_i386.json
.local/share/vulkan/implicit_layer.d/steamfossilize_x86_64.json
.local/share/recently-used*
.config/cef_user_data/
.config/libreoffice/
.config/yelp/
.*.swp
.config/dconf/user
.config/vlc/vlc-qt-interface.conf
.config/mimeapps.list
.config/gnome-games/
.local/share/gsettings-data-convert
.config/gtk-3.0/servers
.config/totem/state.ini
.config/mednaffe.conf
.vim/plugin/.vimrc
