/*
!.config/
!.sogouinput/
!.local/
!Public/
!.bashrc
!.gitconfig
!.gitignore
!.profile
!.vimrc
!.xinputrc
!README.md
!config.sh
.config/Code/
.config/pulse/
.config/netease-cloud-music/
.config/fcitx/dbus/
.config/nautilus/
.config/SogouPY/
.config/sogou-qimpanel/
.local/share/zeitgeist/
.local/share/gvfs-metadata/
.local/share/Trash/
.local/share/evolution/
.sogouinput/
.local/share/keyrings/
.local/share/applications/
.local/share/icons/
.config/electronic-wechat/
.config/fcitx/profile_*
.local/share/xorg/Xorg.0.log.old
.config/google-chrome/
.config/ibus/
