/*
!.compiz/
!.config/
!.sogouinput/
!.local/
!Public/
!.bashrc
!.gitconfig
!.gitignore
!.profile
!.vimrc
!.xinputrc
!README.md
!config.sh
!.dconf
.config/google-chrome/
.config/Code/
.config/pulse/
.config/netease-cloud-music/
.config/fcitx/dbus/
.config/nautilus/
.config/SogouPY/
.local/share/zeitgeist/
.local/share/gvfs-metadata/
.local/share/Trash/
.local/share/evolution/
