[submodule "/home/gjs/.config/google-chrome"]
	path = .config/google-chrome
	url = git@github.com:chinnkarahoi/chrome.git
[submodule "test"]
	path = test
	url = git@github.com:chinnkarahoi/test.git
[submodule ".cache/netease-cloud-music/Cef/Cache/Local Storage"]
	path = .cache/netease-cloud-music/Cef/Cache/Local Storage
	url = git@github.com:chinnkarahoi/ntm-local.git
