set show-all-if-ambiguous on
set show-all-if-unmodified on
set menu-complete-display-prefix on
set colored-completion-prefix on
set revert-all-at-newline on
set colored-stats on
set completion-query-items 0
set page-completions off
set mark-directories on
Tab: menu-complete
"w": unix-word-rubout
"[Z": menu-complete-backward
$if Gdb
	"\C-x\C-s": "dashboard -layout source\n"
	"\C-x\C-k": "dashboard -layout stack\n"
	"\C-x\C-a": "dashboard -layout assembly\n"
	"\C-x\C-h": "dashboard -layout history\n"
	"\C-x\C-m": "dashboard -layout memory\n"
	"\C-x\C-r": "dashboard -layout registers\n"
	"\C-x\C-t": "dashboard -layout threads\n"
	"\C-x\C-b": "dashboard -layout breakpoints\n"
	"\C-x\C-v": "dashboard -layout variables\n"
$endif
"\C-x\C-t": fzf-file-widget
"\C-t": transpose-chars
