set show-all-if-ambiguous on
set show-all-if-unmodified on
set menu-complete-display-prefix on
set colored-completion-prefix on
set revert-all-at-newline on
set colored-stats on
Tab: menu-complete
"[Z": menu-complete-backward

